<!DOCTYPE html>
<html lang="es-mx">
    <head>
        <title>Calculadora</title>
        <link rel="stylesheet" href="ui.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 id="titulo">Calculadora</h1>
        </header>
        <section id="cuerpo">

                <h1 id="ecuacion">Introduce los datos</h1>

                <h2>Valor de X</h2>
                <input id="valorX" placeholder="Escriba el valor de X...">
                <h2>Valor de A</h2>
                <input id="valorA" placeholder="Escriba el valor de A...">
                <h2>Valor de B</h2>
                <input id="valorB" placeholder="Escriba el valor de B...">
                <br>
            <div>
                <button id="calc">Calcular</button>
            </div>
                <h1>Resultado</h1>
                <input id="resultado" placeholder="Resultado..." readonly>
        </section>
        <footer>
            <p id="fin">Pruebas de software - Cocotle Yáñez Luis David</p>
        </footer>
    </body>
</html>