<!DOCTYPE html>
<html lang="es-mx">
    <head>
        <title>Calculadora</title>
        <link rel="stylesheet" href="ui.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 id="titulo">Calculadora</h1>
        </header>
        <section id="cuerpo">
            <div>
                <h1 id="ecuacion">Introduce los datos</h1>
                <h1>Selecciona la operación a realizar</h1>
                <button [ngClass]="{'button-selected': selectedButton === 'add'}" (click)="selectOperation('add')">Suma</button>
                <button [ngClass]="{'button-selected': selectedButton === 'sub'}" (click)="selectOperation('sub')">Resta</button>
                <button [ngClass]="{'button-selected': selectedButton === 'mul'}" (click)="selectOperation('mul')">Multiplicación</button>
                <button [ngClass]="{'button-selected': selectedButton === 'div'}" (click)="selectOperation('div')">División</button>
                <button [ngClass]="{'button-selected': selectedButton === 'exp'}" (click)="selectOperation('exp')">Exponenciación</button>
            </div>
                <h2>Introduce el primer número:</h2>
                <input type="number" [(ngModel)]="num1" placeholder="Primer número...">
                <h2>Introduce el segundo número:</h2>
                <input type="number" [(ngModel)]="num2" placeholder="Segundo número...">
                <br>
            <div>
                <button id="calc" (click)="calculate()">Calcular</button>
            </div>
                <h1>Resultado</h1>
                <input type="text" [(ngModel)]="resultado" readonly>

        </section>
        <footer>
            <p id="fin">Pruebas de software - Cocotle Yáñez Luis David</p>
        </footer>
    </body>
</html>